p+h1
{
	color: #fff;
}

body
{
	background-color: #ababab;
}

.paragraphebleu
{
	color: white;
	background-color: black;
}

#citation
{
	color: #000;
}

.navbar {
	background-color: #333;
	padding: 10px;
}

.section 
{
	background-image: url("background.jpg");
	background-size: cover;
}

.navbar li 
{
	display: inline-block;
	margin-right: 10px;
}

a:hover
{
	text-decoration: underline;
}