p
{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    text-align: justify;
    /* text-decoration: underline; */

    padding: 20px;
    border: 1px solid blue;
}
p:hover
{
    color: blue;
    /*font-size: 30px;*/
}


#text1
{
    color: yellow;
    background-image: url('assets/images/charite.jpg');
    background-repeat: no-repeat; /* pas de repetition de l'image */
    /* background-repeat: repeat-x; repetition suivant l'axe des x */
    /* background-repeat: repeat-y;  repetition suivant l'axe des y*/
    background-size: cover; /* Adaptation de l'image de fond au conteneur */
    opacity: 1;
    height: 60px;
    width: 30%;

    min-width: 100px;

    overflow: hidden;
    
    /* 
        hidden: le texte qui dépasse est caché
        auto: barre de défilement lors du dépassement
        scroll: barre de défilement même quand il n'y a pas dépassement
    */

}

h2+p
{
    font-style: oblique;
}

h1
{
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    border : green  1px solid;
    border-radius: 20px 20px 0px 0px; 
   /*  box-shadow: 10px 10px 20px black; */

   /* 
        top: au dessus
        bottom: en dessous
        left: gauche
        right: droite
   */

   padding-top: 0.5em;

   width: 50%;   /* Largeur */
   /* height: 200px; */
   margin: auto;  /* Centrer l'élément */

   box-shadow: 10px -5px 25px red;
   text-shadow: -2px 2px 1px #000;
}

h1:hover
{
    text-shadow: -2px 2px 1px #000;
}

h2
{
    font-size: 160%;   /* taille de la police */
    text-align: center;
}

a
{
    /* text-decoration:line-through; */
    /* text-decoration: overline; */
    color: green;
    text-decoration: none;
    padding-bottom: 5px;
}

a:focus
{
    background-color: #ababab;
}

/* 
    hover: survole de la souris
    visited: lien déjà visité
    active: lors du clic
    focus: lorsque l'élément a le focus

*/

a:hover
{
   /*  color: white;
    background-color: blue; */
    /* text-decoration: underline; */
    border-bottom: 2px green solid;

}
a:visited
{
    color: red;
}
a:active
{
    background-color: aqua;
}

ul
{
    list-style-type: none;
}