#devise
{
    /* background-image: url("videos/poe.mp4"); */
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    font-size: 2em;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
